registry=https://registry.npmmirror.com/
@chehejia:registry=https://rnpm.chehejia.com
//registry.npmjs.org/:_authToken=${NPM_CONFIG_OFFICIAL_REGISTRY_TOKEN}

sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass
disturl=https://npmmirror.com/mirrors/node
